/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/

/web/update.php
/web/web.config
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.js
/web/example.gitignore

/.idea/

/.env
.DS_Store

/keys
